.study-variables-list {
  font-size: 90% !important;
}

.study-variables-list-item {
  margin-left: 0.4rem !important;
  padding-left: 1rem !important;
  border-left:  2px solid #eee;
  margin-bottom: 0.5rem;
}

.variable-name {
  font-weight: 500;
}

.variable-description {
  font-style: italic;
}
