.ant-modal-body {
  height: 66vh;
  overflow-y: auto;
  scrollbar-width: thin; /* firefox only */
  scrollbar-color: #00000022 transparent; /* firefox only */
  transition: scrollbar-color 250ms; /* firefox only */
}

.ant-modal-body > .ant-space,
.ant-modal-body > .ant-space > .ant-space-item:nth-child(2) {
  box-sizing: border-box;
  width: 100%;
}

.modal-content-container {
  width: 100%;
  padding: 1rem 2rem 1rem 1rem;
  overflow-y: auto;
  scrollbar-width: thin; /* firefox only */
  scrollbar-color: #00000022 transparent; /* firefox only */
  transition: scrollbar-color 250ms; /* firefox only */
}

.tab-content {}

.tab-menu {}
.tab-menu-item {}
.tab-icon {}

.tab-name {
  display: none;
}

@media (min-width: 600px) {
  .tab-name {
    display: inline;
  }
}
