.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(120deg, var(--color-bg), var(--color-renci));
  width: 100%;
}

.search-header {
  width: 100%;
  background-color: #001529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  filter: drop-shadow(0 0 8px #00000033);
  position: sticky;
  top: 0;
  z-index: 9;
}

.results-container {
  flex: 1;
}
